.pessoa{
    display: flex;
    flex-direction: column;
}

.pessoa__nome{
    color:#8d0606;
    font-family: Pacifico, cursive;
    font-size:2rem;
    margin: 1rem 0;
}

.pessoa__funcao{
    color: #595959;
    font-size: 1.25rem;
    text-transform: lowercase;
}

.pessoas{
    display: flex;
    justify-content: space-around;
    padding-top:3rem;
}

.pessoa__imagem{
    background-position: center;
    background-repeat: no repeat;
    background-size: cover;
    border-radius: 100%;
    margin: 0 auto;
    height:300px;
    width:300px;
}

.pessoa__imagem--roberta{
    background-image: url('../img/pessoas/roberta.jpg');
}

.pessoa__imagem--marcela{
    background-image: url('../img/pessoas/marcela.jpg');
}
.pessoa__imagem--andreia{
    background-image: url('../img/pessoas/andreia.jpg');
}

@media screen and (min-width: 0){
    .pessoas{
        flex-direction: column;
    }
}

@media screen and (min-width: 768px){
    .pessoas{
        flex-direction: column;
    }
}


@media screen and (min-width: 1024px){
    .pessoas{
        flex-direction: row;
    }
}

@media screen and (min-width: 0){
    .pessoa{
        margin-bottom: 2rem;
    }
}

@media screen and (min-width: 768px){
    .pessoa{
    }
}