.tela{
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.botaoDeLike{
  background-color: white;
  border: none;
  
}

img{
  width: 10px;
}

.contador{
  color: red;
}